.logo{
  background-color:#29204f;
  img{
    width:10%;
    padding-top: 5px;
    padding-left: 20px;
  }
  @media (max-width:500px){
    img{
    width:30%;
    padding-left: 20px;
    padding-top: 23px;
  }
}
}
.alogo
{
  img{
    float: right;
    clear: both;
    margin-top: -90px;
    margin-right: 20px;
  }
}



.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 20px;
  background:url('../img/bg.jpg');
  background-color: #29204f;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    color: bisque;
    font-size: 53px;
    margin: 0;
    padding: 0;
  }
  a{
      margin: -10px;
  }
  img{
    width: 58%;
    margin-top: -60px;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
  @media (max-width:500px){
    background-size:160%;
    img{
      width: 78%;
      margin-top: -60px;
    }
  }
}
