.image-wrapper {
  max-width: 50%;
}

.scale-image {
  margin: 10px;
  width: 20%;
  height: auto;
  @media (max-width:700px)
{
  width:40%;  
}

}
.scale-image1{
  margin: -10px;
  width:35%;
  height: auto;
  @media (max-width:700px)
  {
    width:105%;
    margin: -29px;
    margin-right: -1px;
  }

}
.flex-wrapper {
  display: flex;
  background-color: #29204f;
  justify-content: space-between;
}
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 20px;
  background:url('../img/bg.jpg');
  background-color: #29204f;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    float: right;
    color: white;
    font-size: 53px;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }
  a{
      margin:-10px;
      margin-top: auto;
      margin-left:90px;
  }
  img{
    width: 58%;
    margin-top: -60px;
    float: left;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 4.5rem;
    }
  }
  @media (max-width:900px){
    background-size:160%;
    h1 {
      float: unset;
      color: white;
      font-size: 53px;
      margin: 0;
      padding: 0;
    }
    a{
      float:unset;
      margin: 10px;
  }
    img{
      float: unset;
      width: 78%;
      margin-top: -60px;
    }
  }
}
