.image-wrapper {
  max-width: 50%;
}

.scale-image {
  margin: 10px;
  width: 20%;
  height: auto;
  @media (max-width:700px)
{
  width:40%;  
}

}
.scale-image1{
  margin:28px;
  margin-right: 24px;
  width:35%;
  height: auto;
  @media (max-width:700px)
  {
    width:87%;
    margin:14px;
    margin-right: 10px;
  }

}
.flex-wrapper {
  display: flex;
  background-color: #29204f;
  justify-content: space-between;
  @media (max-width:700px)
  {
    margin-bottom: -17px;
  }
}
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: auto;
  padding-top: 5rem;
  padding-bottom: 20px;
  background:url('../img/bg.jpg');
  background-color: #29204f;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  h1 {
    float: right;
    color: white;
    font-size: 53px;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
  }
  h2{
    float: right;
    margin-right: 75px;
    color:#ffe238;
    text-transform: uppercase;
    font-family: 'Anton', sans-serif;
  }
  a{
      
  }
  img{
    width: 58%;
    margin-top: -60px;
    float: left;
  }
  @media (min-width:1440px)
  {
    a{
      margin-top:145px;
      margin-left:170px;
    }
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 4.5rem;
    }
    
  }
  @media (max-width:900px){
    background-size:160%;
    min-height: 42rem;
    h1 {
      float: unset;
      color: white;
      font-size: 53px;
      margin: 0;
      padding: 0;
    }
    h2{
      right:-65px;
      left:0;
      position: absolute;
    }
    a{
      margin-top:18%;
      margin-left:-75px;
      position: absolute;
      float:left;
  }
    img{
      float: unset;
      width: 100%;
      margin-top: -290px;
    }
  }
}
.scroll-downs {
  position: absolute;
  top:80%;
  right:180px;
  bottom: 0;
  float: right;
  margin: auto;
  width :34px;
  height: 55px;
  @media (max-width:900px) {
  }
  @media (min-width:1440px) {
    right: 295px;
  }
}
.mousey {
  width: 3px;
  padding: 10px 15px;
  height: 35px;
  border: 2px solid #fff;
  border-radius: 25px;
  opacity: 0.75;
  box-sizing: content-box;
}
.scroller {
  width: 3px;
  height: 10px;
  border-radius: 25%;
  background-color: #fff;
  animation-name: scroll;
  animation-duration: 2.2s;
  animation-timing-function: cubic-bezier(.15,.41,.69,.94);
  animation-iteration-count: infinite;
}
@keyframes scroll {
  0% { opacity: 0; }
  10% { transform: translateY(0); opacity: 1; }
  100% { transform: translateY(15px); opacity: 0;}
}

.btn{
  position: absolute;
}